{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="card-body">
    <div class="row">
     <div class="col-lg-3">
            {{ form_row(form.GeneralInstrument)}}
        </div>
        <div class="col-lg-3">
              {{ form_row(form.poste) }}
        </div>
       
        <div class="col-lg-3">
            {{ form_row(form.Marque) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.minEtendu) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.maxEtendu) }}
        </div>
       
        <div class="col-lg-3">
            {{ form_row(form.unit) }}
        </div>
       


        <div class="col-lg-4">
            {{ form_row(form.precisionn) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.frequenceCalibrage) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.resolution) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(form.type) }}
        </div>

         <div class="col-lg-4">
            {{ form_row(form.dateMiseEnService) }}
        </div>

         <div class="col-lg-4">
            {{ form_row(form.serialNumber) }}
        </div>
       
        <div class="col-lg-4">
            {{ form_row(form.frequenceEtallonage) }}
        </div>
    </div>
    <div class="text-right">
        <button class="btn btn-primary">
            {{ button_label|default('Enregistrer') }} <i class="fa fa-save"></i>
        </button>
    </div>
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}
