{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col">
                        <h1 class="m-0 text-dark">Tableau de bord</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <section class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col">
                        {% include 'common/_message.html.twig' %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste des section</h3>
                                <a href="{{ path('section_new') }}" class="btn btn-sm btn-primary float-right">
                                    <i class="fa fa-plus-circle"></i> Ajouter une section
                                </a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="dataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>section</th>
                                      <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for section in sections %}
                                    <tr>
                                        <td>{{ section.id }}</td>
                                        <td>{{ section.nom}}</td>
                                      
                                        <td>
                                            <ul class="list-inline d-inline-flex">
                                                <li class="p-1">
                                                    <a href="{{ path('section_show', {'id': section.id}) }}"
                                                        class="btn btn-sm btn-default">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li class="p-1">
                                                    <a href="{{ path('section_edit', {'id': section.id}) }}"
                                                        class="btn btn-sm btn-success">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </li>
                                                <li class="p-1">
                                                    {% include 'section/_delete_form.html.twig' %}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </section>
</div>

{% endblock %}
